<div class="form_artist_new">
<form action="/artist/new" method="POST">

<label for="name">Name: </label>
<input type="text" id="name" name="name">

<label for="image">Artist image url: </label>
<input type="text" id="image" name="image">

<input type="submit" value="Add New Artist">

</form>
</div>