<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>Record Store</title>
</head>
<body>
  <main>
    <header>
     <div class="nav">
      <ul>
        <li><a class="" href="/">Inventory</a></li>
        <li><a class="padding-right" href="/artist/new">New Artist</a></li>
        <li><a class="" href="/album/new" method="get">New Album</a></li>
      </ul>
     </div>
     </header>
      <%= yield %>
  </main>
  <footer>
  </footer>
</body>
</html>